body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  font-weight: 600;
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
/* Change outline color on focus */
.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #3f4142;
}
.form-control {
  border-color: #3f4142;
}
.table-container{
  width: 60%;
  margin: 0 auto;
  margin-top: 1.2rem;
}
.table {
  width: 100%;
  table-layout: auto; /* This ensures the table columns adjust to the content size */
}

.table th, .table td {
  width: 25%; /* Set a specific width for each column (adjust as necessary) */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .tooltip-text {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 12px;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}




